In [19]:
from IPython.display import IFrame  
ciaLink2="https://www.cia.gov/the-world-factbook/field/revenue-from-forest-resources/country-comparison" 
IFrame(ciaLink2, width=900, height=900)

In [20]:
import pandas as pd

forestDFs=pd.read_html(ciaLink2, # link
                        header=0, # where is the header?
                        flavor='bs4')

In [23]:
# check object type 
type(forestDFs)

list

In [24]:
# check size
len(forestDFs)

1

In [25]:
# make a copy
forest=forestDFs[0].copy()

In [26]:
# here it is
forest

     Rank                   Country  % of GDP Date of Information
0       1           Solomon Islands     20.27           2018 est.
1       2                   Liberia     13.27           2018 est.
2       3                   Burundi     10.31           2018 est.
3       4             Guinea-Bissau      9.24           2018 est.
4       5  Central African Republic      8.99           2018 est.
..    ...                       ...       ...                 ...
199   200                    Tuvalu      0.00           2018 est.
200   201      United Arab Emirates      0.00           2018 est.
201   202                Uzbekistan      0.00           2018 est.
202   203            Virgin Islands      0.00           2017 est.
203   204                 West Bank      0.00           2018 est.

[204 rows x 4 columns]

In [27]:
# see column names:

forest.columns

Index(['Rank', 'Country', '% of GDP', 'Date of Information'], dtype='object')

In [28]:
forest['Date of Information'].value_counts()

2018 est.    195
2017 est.      7
2015 est.      1
2016 est.      1
Name: Date of Information, dtype: int64

In [29]:
# check object type 
type(forestDFs)

list

In [30]:
# check size
len(forestDFs)

1

In [31]:
# make a copy
forest=forestDFs[0].copy()

In [32]:
# here it is
forest

     Rank                   Country  % of GDP Date of Information
0       1           Solomon Islands     20.27           2018 est.
1       2                   Liberia     13.27           2018 est.
2       3                   Burundi     10.31           2018 est.
3       4             Guinea-Bissau      9.24           2018 est.
4       5  Central African Republic      8.99           2018 est.
..    ...                       ...       ...                 ...
199   200                    Tuvalu      0.00           2018 est.
200   201      United Arab Emirates      0.00           2018 est.
201   202                Uzbekistan      0.00           2018 est.
202   203            Virgin Islands      0.00           2017 est.
203   204                 West Bank      0.00           2018 est.

[204 rows x 4 columns]

In [33]:
# see column names:

forest.columns

Index(['Rank', 'Country', '% of GDP', 'Date of Information'], dtype='object')

In [34]:
forest.columns.to_list()

['Rank', 'Country', '% of GDP', 'Date of Information']

In [35]:
forest['Date of Information'].value_counts()

2018 est.    195
2017 est.      7
2015 est.      1
2016 est.      1
Name: Date of Information, dtype: int64

In [36]:
forest1=forest.rename(columns={"% of GDP": "pct of GDP"})
forest1

     Rank                   Country  pct of GDP Date of Information
0       1           Solomon Islands       20.27           2018 est.
1       2                   Liberia       13.27           2018 est.
2       3                   Burundi       10.31           2018 est.
3       4             Guinea-Bissau        9.24           2018 est.
4       5  Central African Republic        8.99           2018 est.
..    ...                       ...         ...                 ...
199   200                    Tuvalu        0.00           2018 est.
200   201      United Arab Emirates        0.00           2018 est.
201   202                Uzbekistan        0.00           2018 est.
202   203            Virgin Islands        0.00           2017 est.
203   204                 West Bank        0.00           2018 est.

[204 rows x 4 columns]

In [37]:
import os
forest1.to_csv(os.path.join("hOLA","forest1.csv"),index=False)